.fight-page {
  flex: 1 1 100%;
  display: flex;
  position: relative;
}

.fight-page--active {
  display: none;
}

.fight-page__container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1 1 100%;
  row-gap: 1.5rem;
}

.fight-box {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.fight-box__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.fight-box__name {
  margin-bottom: 2rem;
  align-self: center;
}

.fight-box__images-box {
  border: 0.1rem solid var(--color_gold-1);
  border-radius: 2.5rem;
  justify-items: center;
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

.fight-box__images-btn {
  width: 100%;
  margin-bottom: 1rem;
}

.fight-box__images-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem;
  transition: left 1s ease-in-out;
  padding: 1rem;
}

.info-images__good-person {
  left: -100%;
}

.info-images__good-person--active {
  left: 0;
}

.info-images__evil-person {
  left: 100%;
}

.info-images__evil-person--active {
  left: 0;
}

.info-images__inner {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  row-gap: 1.5rem;
}

.info-images__item {
  display: flex;
  width: 100%;
  max-width: 25rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: relative;
  color: var(--color-1);
}

.info-images__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info-images__attack::before {
  background-image: url("../assetes/icon/icon-sword.png");
  background-size: contain;
}

.info-images__critical-attack::before {
  background-image: url("../assetes/icon/icon-critival_attack.png");
}

.info-images__critical-attack::after {
  content: "%";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2.5rem;
}

.info-images__health::before {
  background-image: url("../assetes/icon/icon-health.png");
  background-size: contain;
}

.info-images__attack-zone::before {
  background-image: url("../assetes/icon/attack-zone.png");
  background-size: contain;
}

.info-images__defense-zone::before {
  background-image: url("../assetes/icon/icon-guard.png");
}

.fight-box__bar-health {
  width: 100%;
  margin-bottom: 2rem;
}

.fight-box__health-list {
  display: flex;
  align-items: center;
  align-self: center;
}

.battle-box {
  align-self: stretch;
  justify-content: space-between;
}

.battle-box__text {
  text-align: center;
}

.battle-box__fight-zone {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.battle-box__fight-zone::before {
  content: "";
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: var(--color_gold-1);
}

.attack-zone,
.defense-zone {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.battle-box__title-zone {
  margin-bottom: 1.5rem;
}

.battle-box__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 1rem;
}

.battle-box__inner::after, .battle-box__inner::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  transition-property: left, right;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.battle-box__inner::after {
  background-color: red;
  right: 50%;
}

.battle-box__inner::before {
  background-color: blue;
  left: 50%;
}

.battle-box__inner:hover.battle-box__inner::before {
  right: 50%;
  left: 0;
}

.battle-box__inner:hover.battle-box__inner::after {
  left: 50%;
  right: 0;
}

.battle-box__item {
  appearance: none;
  width: 3rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.attack-zone__item:checked {
  background-image: url("../assetes/icon/icon-sword.png");
  background-size: contain;
}

.defense-zone__item:checked {
  background-image: url("../assetes/icon/icon-guard.png");
}

.battle-box__inner,
.battle-box__item {
  cursor: pointer;
}

.defense-zone>.battle-box__inner {
  flex-direction: row-reverse;
}

.battle-box__slach-zone {
  width: 0.1rem;
  background-color: var(--color_gold-1);
}

.fight-page__bottom {
  flex: 1 1 30rem;
  border: 0.1rem solid var(--color_gold-1);
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 2rem;
  overflow-y: auto;
}

.fight-page__bottom-good_person,
.fight-page__bottom-evil_person,
.fight-page__bottom-zone {
  text-transform: uppercase;
}

.fight-page__bottom-good_person {
  color: var(--green);
}

.fight-page__bottom-evil_person {
  color: var(--red);
}

.fight-page__bottom-zone {
  color: var(--blue);
}

.fight-page__bottom-block__attack,
.fight-page__bottom-attack,
.fight-page__bottom-attack__critical {
  position: relative;
  padding-left: 3.5rem;
}

.fight-page__bottom-block__attack::before,
.fight-page__bottom-attack::before,
.fight-page__bottom-attack__critical::before {
  content: "";
  position: absolute;
  top: calc(50% - 1.5rem);
  left: 0;
  width: 3rem;
  height: 3rem;
}

.fight-page__bottom-block__attack::before {
  background: url("../assetes/icon/icon-guard.png")no-repeat center/cover;
}

.fight-page__bottom-attack::before {
  background: url("../assetes/icon/icon-sword.png")no-repeat center/contain;
}

.fight-page__bottom-attack__critical::before {
  background: url("../assetes/icon/icon-critival_attack.png")no-repeat center/cover;
}

.modal-fight {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-fight--active {
  display: none;
}

.modal-fight__inner {
  border: 1px solid var(--color_gold-1);
  width: 25%;
  height: 25%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
}

.modal-fight__text {
  font-family: 'sunday';
  font-size: 3.5rem;
  align-self: center;
}